/**
 * Normalize
 */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background: #888;
}

::-webkit-scrollbar-thumb {
	background: #000;
	border: 4px solid #888;
}

::-moz-selection {
	background: #000;
	color: #fff;
}

::selection {
	background: #000;
	color: #fff;
}

:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	line-height: 1.1;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 1.5em;
	font-family: Arial, cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-size: 1em;
}

abbr[title] {
	background: #00f;
	border-bottom: none;
	text-decoration: none;
	text-decoration: none;
	cursor: help;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-size: 1em;
}

small {
	font-size: .8em;
}

sub,
sup {
	font-size: .7em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

label {
	text-transform: uppercase;
	cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-size: 1em;
	font-family: Arial, cursive;
	border: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: .5em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template,
[hidden] {
	display: none;
}

ul {}

li {
	list-style-type: none;
}

/**
 * Links
 */
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: none;
}

a:hover, a:active {
	outline: 0;
}



/**
 * Screen reader text
 */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 9999;
}



/**
 * Page
 */
#page {
	display: none;
	background: #222;
	transition: all 500ms linear;
}



/**
 * Scene
 */
#scene {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#scene .layer {
	position: absolute;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	       display: flex !important;
	-webkit-box-align: center !important;
	   -ms-flex-align: center !important;
	align-items: center !important;
	-webkit-box-pack: center !important;
	   -ms-flex-pack: center !important;
	justify-content: center !important;
	transition: all 250ms linear;
}

#scene .layer img {
	width: 32%;
	-webkit-box-shadow: 0 10px 50px rgba( 0, 0, 0, .1 );
	        box-shadow: 0 10px 50px rgba( 0, 0, 0, .1 );
}

@media only screen and (max-width: 600px) {
	#scene .layer img { width: 60%; }
}



/**
 * Masthead
 */
#masthead {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 16px 64px;
	z-index: 9999;
}



/**
 * Branding
 */
#masthead .branding {
	display: flex;
	justify-content:flex-start;
}

#masthead .branding .title,
#masthead .branding .title a {
	color: #f5f5f5;
	font-size: 32px;
	line-height: 1.0;
	text-transform: uppercase;
}

#masthead .branding .description {}

@media (max-width: 768px) {
	#masthead {
		display: block;
		padding: 16px 32px;
	}

	#masthead .branding .title,
	#masthead .branding .title a {
		margin: 0 auto;
		font-size: 32px;
	}
}



/**
 * Navigation
 */
#navigation {
	display: flex;
	justify-content: flex-end;
}

#navigation ul {
	display: flex;
}

#navigation li {
	flex: 1;
	margin-left: 32px;
}

#navigation li:first-child {
	margin-left: 0;
}

#navigation a {
	display: block;
	color: #f5f5f5;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
}

#navigation a.active {
	border-bottom: 2px #f5f5f5 solid;
}

@media (max-width: 768px) {
	#navigation ul {
		margin: 16px auto 0;
	}
}



/**
 * Colophon
 */
#colophon {}

#colophon .info {}

@media (max-width: 768px) {}



/**
 * Preloader
 */
#preloader {
	width: 100px;
	height: 100px;
	position: absolute;
	margin-left: -50px;
	left: 50%;
	top: 50%;
	color: #f5f5f5;
	text-align: center;
	font-size: 32px;
}

@media (max-width: 768px) {}



/**
 * Entry
 */
.entry {
	padding: 0 64px;
	text-align: left;
}

.entry .entry-header {
	width: 70%;
}

.entry .entry-header .entry-title,
.entry .entry-header .entry-title a {
	margin: 0;
	color: #f5f5f5;
	text-decoration: none;
	font-size: 64px;
}

.entry .entry-header .entry-description {
	color: #f5f5f5;
	font-size: 24px;
}

@media (max-width: 768px) {
	.entry {
		text-align: center;
	}

	.entry .entry-header {
		width: 100%;
	}

	.entry .entry-header .entry-title,
	.entry .entry-header .entry-title a {
		font-size: 32px;
	}
}
